@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    font-family: "Lobster", sans-serif;
    letter-spacing: 8px;
    margin-top: 105px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

::-webkit-scrollbar-thumb {
  background-color: #fa2525; 
  border-radius: 9999px; 
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #df3d3d;
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
}

@media (max-width: 640px) {
  section {
    min-height: auto !important;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .title {
    font-size: 4rem;
    line-height: 1.1;
  }

  h1 {
    margin-top: 2rem !important;
    margin-bottom: 1.5rem !important;
  }

  p {
    margin-bottom: 2rem !important;
  }

  a.group,
  button.group {
    width: 80%;
    justify-content: center;
  }

  .srv{
    margin-bottom: 2.2rem;
  }

  .grid {
    margin-top: 6rem !important;
    gap: 2rem !important;
  }
}



